.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    border: none;
    border-radius: 5px;
    background: $primary;

    a.nav-link {
        font-weight: 600;
        font-family: "Poppins", "Raleway",  sans-serif !important;
        color: $white !important;

    }
}

a.nav-link{
    font-weight: 600;
    font-family: "Poppins", serif !important;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
