#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    //background: url("../images/flower.jpg");
    &.active {
        margin-left: -250px;

    }
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    ul.components {
        padding: 0;
    }
    ul {
        li {
            font-size: 16px;
            padding: 9px;
            > ul {
                margin-left: 10px;
                li {
                    font-size: 16px;
                }
            }
            a {
                font-family: $font-family-sans-serif;
                padding: 5px 0;
                display: block;
                color: rgba(2, 2, 2, 0.8);
                border-bottom: none;
                text-decoration: none;
                &:hover {
                    color: $primary;
                }
            }
            &.active {
                background: $primary;
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 10px;
                > a {
                    background: transparent;
                    color: $white;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        margin-left: -100vw;
        width: 100vw;
        &.active {
            border-radius: 10px;
            margin-left: 0;
        }
    }
}

.sidebar-toggler {
    font-size: 20px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#sidebarCollapse {
    span {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#btn-logout {
    /*@include media-breakpoint-up(md) {
        position: absolute;
        bottom: 10px;
    }*/

    border-radius: 30px;
    width: 80%;
    position: absolute;
    bottom: 10px;
}

.bg-sidebar {
    background-size: cover;
    background: url("../images/family.png") no-repeat center;
    z-index: -1;
}

.bg-sidebar:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(250, 250, 250, 0.6);
    z-index: -2;
}


