.swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.slider-text{
    padding: 20px 20px 50px;
    color: #fff;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.75)),color-stop(90%,transparent));
    background: linear-gradient(0deg,rgba(0,0,0,.75) 0,transparent 90%);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
    position: absolute;
    bottom: 0;
    border-radius: 15px;
}
