// Body
$body-bg: #f6f6f6;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-serif: 'Jura', serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e94153;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$whitesmoke: #eeeeee;
$primary: #5988fa;
$danger: #e94153;
